# Documentation
doc/latex/*
doc/html/*

# Executables/ test files
tests/lowd
tests/highd
tests/test.npz
tests/test.txt

# SWIG wrapper
src/python/hivpython.py
*_wrap.cpp

# Compiled Object files
*.slo
*.lo
*.o
*.h.gch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Byte-compiled Python
*.pyc
*.pyo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Vim
.*.sw[a-z]
*.un~
Session.vim
