# Profile files
profile/*.out
profile/profile

.DS_store

# Package files
pkg/python/*
pkg/include/*
pkg/lib/*
pkg/doc/*
build/

# Documentation
doc/latex/*
doc/html/*
doc/python/build

# Executables/ test files
tests/lowd
tests/highd
tests/test.npz
tests/test.txt
tests/FFPopSim.py
tests/FFPopSim.pyc
tests/_FFPopSim.so

# Compiled Object files
*.slo
*.lo
*.o
*.h.gch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Byte-compiled Python
*.pyc
*.pyo

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# backup
*~

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Eclipse
.pydevproject
Debug
Release

# Do not keep the binaries
# (they are kept in the static_gsl branch)

#tests
tests/recombination_lowd
tests/test_genealogy

